.features {
    padding: 15rem 0;
    grid-column: center-start/center-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    grid-gap: 3rem 4rem;
    align-items: start;
    justify-content: center;

    @include respond(tab-port) {
        padding: 8rem 0;
    }
    
}
.feature {
    display: grid;
    grid-template-columns: min-content 1fr;

    grid-gap: 1.5rem 2.5rem;
    
    
    &__icon {
       width: 4.5rem;
       aspect-ratio: 1/1;
       grid-row: 1/ span 2;
       transform: translateY(-1rem);
    }
}
