.footer {
    background-color:$color-blue-dark;
    grid-column: full-start / full-end;
    padding: 4vh 0;
    display: grid;
    place-items: center;
   
    &__logo {
        
        width: 12rem;
        height: 4.1rem;
       
    }	
}
.navigation {
    padding: 4vh 0;
    &__list {
        list-style: none;
        display: flex;  
    }
    &__item {
        &:not(:last-child) {
            margin-right: 2rem;
        }
    }
    &__link {
        font-size: 1.4rem;
        color:$color-gray-light;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
            text-decoration: underline;
        }
    }
}