.footer {
    background-color:$color-blue-dark;
    grid-column: full-start / full-end;
    border-top: .3rem solid $color-gray-light;
    padding: 4vh 0;

}
.navigation {
    padding: 2vh 2rem;
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        grid-gap: 3rem;
        place-items: center;
        list-style: none; 
    }
    &__link {
        &:link, &:visited {
        display: inline-block;
        font-size: 1.4rem;
        color:$color-gray-light;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.2s;
        }
        &:hover, &:active {
            color:$color-green-dark;
            transform: translateY(-1rem);

        }
    }
}