.gamers {
    background-color:$color-blue-dark;
    grid-column:  col-start 7 / full-end;
    display: grid;
    grid-template-columns: max-content;
    gap: 4rem 2rem;
    justify-content: center;
    align-content: center;
     

    @include respond(tab-port) {
        grid-column: full-start / full-end;
        grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
        justify-items: center;
        gap: 4rem;
        padding: 3rem 0;
        
    }

    @include respond(phone) {
        grid-template-columns: min-content;
        justify-items: start;
    }
    &__title-3 {
        grid-column: 1 / -1;
        justify-self: center;
    }
    &__box {
        display: grid;
        grid-template-columns: max-content max-content;
        grid-column-gap: 2rem;
        
       

        @include respond(tab-port) {
            justify-self: center;
           
           
        }
    }
        

    &__img {
        width: 7rem;
        // height: 7rem;
        // display: block;
        // grid-row: 1/ -1;
        // justify-self: start;
    }
    &__info {
        align-self: center;
    }
    &__rating {
        font-size: 1.6rem;
        font-weight: 300;
        color:$color-gray-dark
    }
}