.gamers {
    background-color:$color-blue-dark;
    grid-column:  col-start 7 / full-end;
    place-items: center;
    padding: 10vh 2vw;
    &__box {
        display: grid;
        grid-template-columns: min-content minmax(25rem, max-content);
        grid-gap: 3rem 2rem;
        align-items: center;
        margin-top: 3rem;
        
        
    }
    &__img {
        width: 7rem;
        height: 7rem;
        display: block;
        grid-row: 1/ -1;
        justify-self: start;
    }
}