.header {
    background-color:$color-blue-dark;
    grid-column: full-start / col-end 6;
    display: grid;
    grid-template-rows: min-content 4rem minmax(10rem, min-content) 1fr;
    background: url(../img/header-bg.jpg) center / cover no-repeat;
    // grid-row-gap: 2rem;
    padding: 5rem;

    @include respond(tab-port) {
        grid-column: full-start / full-end;
       
    }
    @include respond(phone) {
        grid-template-rows: min-content 4rem minmax(20rem, min-content) 1fr;
        padding: 2rem;
    }
    
    &__btn {
       place-self: start;
    }
    &__line_text {
        font-size: 1.6rem;
        font-weight: 500;
        color: $color-gray-light;
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr max-content 1fr;
        place-items: center;
        &::before, &::after {
            content: '';
            height: .1rem;
            width: 100%;
            display: block;
            background-color: $color-gray-light;
        }

    }
    &__games {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;
        place-self: center;
        & img {
            width: 100%;
            height: 3rem;
            display: block;
            filter: brightness(70%);
        }
    }

}
.logo {   
    display: block;
    text-align: center;
    margin-bottom: 8rem;
    &__svg {
        width: 12rem;
        height: 4.1rem;
        margin: o auto;
    }
   
   
}	