.sidebar {
    background-color: $color-green-dark;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;
    display: grid;
    justify-content: center;
    padding-top: 3.7rem;

    @include respond(tab-land){
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        justify-content: end;
        align-items: center;
        padding: 1rem 3.7rem 0 0;
    }
    

}
.burger {
    border: none;
    width: 5rem;
    height: 0.2rem;
    background-color: $color-gray-light;
    margin-bottom: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;

    
   
    

    &, &::before, &::after {
        content: '';
        display: block;
        width: 5rem;
        height: 0.2rem;
        background-color: $color-gray-light;
       
    }
    &::before {
        transform: translateY(-1.5rem);
    }
    &::after {
        transform: translateY(1.5rem);
    }
}
