.title-1 {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 100%;
}

.title-2 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 100%;
    color:white
}

.title-3 {
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 100%;
    color: $color-green-dark;
    &_white{
        color:white;
    }
    &_green {
        color:$color-green-light;
    }
}

.title-4 {
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: 13%;
    color: $color-green-light;
    text-transform: uppercase;
}
.paragraph-text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 113%;
    color: $color-green-dark;
    &_white{
        color:white;
    }
}